.ng-invalid.ng-touched{
    border-bottom: 2px red solid;
}

.ng-valid.ng-touched{
    border-bottom: 2px green solid;
}

.ng-cloak{
    display : none !important;
}

.feature{
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color : orange;
}